@model finalEvent.Models.Event
@{
    ViewBag.Title = "CreateEvent";
}
@section scripts
    {
    <script src="@Url.Content("~/Scripts/javascripts.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqDWswZRSUOm42IpQq6cN6aPWjc7MXIgU&libraries=places"></script>
    <script>
            function init() {
                var input = document.getElementById('locationTextField');
                var autocomplete = new google.maps.places.Autocomplete(input);
            }

            google.maps.event.addDomListener(window, 'load', init);
</script>

@Scripts.Render("~/bundles/jqueryval")
  
   
    }

<h2>Här skapar du ditt evenemang</h2>
<div class="container-fluid bg-1 text-center">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post,
                                                         new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(u => u.EventName, new { htmlAttributes = new {placeholder = "Evenemangsnamn", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.EventName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.Editor(u => u.Description, new { htmlAttributes = new { placeholder = "Beskrivning av evenemang", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(u => u.StartDate, new { htmlAttributes = new {placeholder = "Startdatum", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(u => u.EndingDate, new { htmlAttributes = new { placeholder = "Slutdatum", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.EndingDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(u => u.StartHour, new { htmlAttributes = new { placeholder = "Starttid", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.StartHour, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(u => u.EndHour, new { htmlAttributes = new { placeholder = "Sluttid", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.EndHour, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(u => u.Address, new { htmlAttributes = new { id = string.Format("locationTextField") ,placeholder = "Sök på adress", @class = "form-control" } })
                            @Html.ValidationMessageFor(u => u.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Skapa Event" class="btn btn-default" />
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>
</div>
