@model finalEvent.Models.EventInfo


<h2>@Model.EventName</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.LabelFor(model => model.EventName, "Namn på evenemang:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.StartDate, "Startdatum:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EndingDate,"Slutdatum:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndingDate)
        </dd>

        <dt>
            @Html.LabelFor(model => model.StartHour,"Startid:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartHour)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EndHour, "Sluttid:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndHour)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Description,"Beskrivning av event:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Address,"Address evenemang:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

