@model finalEvent.Models.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<h2>Här kan du ändra dina personliga uppgifter.</h2>

@using (Html.BeginForm("EditUser", "MyPage", FormMethod.Post,
                                             new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(u => u.Email, new { htmlAttributes = new { placeholder = "E-post", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(u => u.Password, new { htmlAttributes = new { placeholder = "Lösenord", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(u => u.ConfirmPassword, new { htmlAttributes = new { placeholder = "Bekräfta Lösenord", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(u => u.Firstname, new { htmlAttributes = new { placeholder = "Förnamn", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Firstname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(u => u.Lastname, new { htmlAttributes = new { placeholder = "Efternamn", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Lastname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(u => u.Phonenumber, new { htmlAttributes = new { placeholder = "Telefonnummer", @class = "form-control" } })
                @Html.ValidationMessageFor(u => u.Phonenumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" id="file" style="width: 100%;" /> <br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ändra uppgifter nu" class="btn btn-default" />
            </div>
        </div>
    </div>
}